extends ../layout/main.pug

block content
    section 
        .container
            h1 Welcome to pug page
            p 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ad, ea ratione fugiat animi dolor veritatis accusamus quam temporibus enim.

